.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.DS_Store
data
data/*
data/**
scripts-issue-agendas.Rproj
*.Rhistory
(SFConflict erfortcx@hu-berlin.de 2021-12-14-13-14-48).Rhistory
scripts-issue-agendas (SFConflict erfortcx@hu-berlin.de 2021-12-15-19-35-55).Rproj
files/dfmat-austria.csv
files/dfmat-denmark.csv
files/dfmat-germany.csv
files/dfmat-ireland.csv
files/dfmat-netherlands.csv
files/dfmat-poland.csv
files/dfmat-spain.csv
files/dfmat-sweden.csv
files/dfmat-uk.csv
files/dfmat_alt-austria.csv
files/dfmat_alt-denmark.csv
files/dfmat_alt-germany.csv
files/dfmat_alt-ireland.csv
files/dfmat_alt-netherlands.csv
files/dfmat_alt-poland.csv
files/dfmat_alt-spain.csv
files/dfmat_alt-sweden.csv
files/dfmat_alt-uk.csv
files/press.csv
files/press.RData
tables/.confusion-mat-ridge.tex.icloud
*.icloud
files/press.csv
files/press.RData
