.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data
scripts-issue-agendas.Rproj
train-test-data
wordvectors
readme
supervised-files
readme-files
semi-files
scripts/plot_semi_supervised_newsgroups.ipynb
scripts/.ipynb_checkpoints/plot_semi_supervised_newsgroups-checkpoint.ipynb
