.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp*
.DS_Store
data
data/*
data/**
scripts-issue-agendas.Rproj
*.Rhistory
(SFConflict erfortcx@hu-berlin.de 2021-12-14-13-14-48).Rhistory
files/dfmat*
files/press*
*.icloud
files/press.csv
files/press.RData
files/cross.RData
*all_predictions*
*pred_all*
publication/*
*_archive*
*.RProj
*.dta
*_backup*